*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}

.header{
    background:linear-gradient(45deg, black,orange);
    color: white;
    height: 30vh;
}
.task-1{
    font-size: 50px;
    margin-bottom: 6px;
}
.shift{
    margin-left: 100px;
    padding-top: 100px;
}
.Task{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}
.taskk{
    font-size: 25px;
}
/* .Task-line{
    display: grid;
    justify-content: center;
} */
/* .trash-D{
    display: flex;
    justify-content: space-around;
} */
.btn-1{
    padding: 10px;
    border: none;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    width:9rem;
    background:linear-gradient(45deg, black,orange);
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  /* .list{
    display: block;
    justify-content: center;
  } */
  .list-1{
 /* justify-content: space-around;
display: flex; */
    padding: 7px;
  /* margin-right: 20px;
  margin-left: 20px; */
  background:linear-gradient(45deg, black,rgb(162, 110, 14));
  /* margin-right: 15rem;
  margin-left: 15rem; */
  }
  .task{
    display: flex;
    align-items:center;
    margin-top: 20px;
    justify-content: space-around;
}
.code{
    margin-bottom: 6px;
}
  .trash-D{
    display: flex;
    gap: 10px;
  }
  .combine{
    display: flex;
    
    align-items: center;
  }
  .status{
    font-size: 16px;
    padding: 4px;
    width:9rem;
    color: white;
    text-align: center;
    border-radius: 8px;
    background-color: orange;
  }
  /* .code-2{
   float: right;
   margin-left: 38rem;
  } */