*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
}

.header{
    background:linear-gradient(45deg, black,orange);
    color: white;
    height: 30vh;
    position: relative;
}
.task-1{
    font-size: 50px;
    margin-bottom: 6px;
}
.shift{
    margin-left: 100px;
    padding-top: 100px;
}
.Task{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin: 40px;
    justify-content: space-between;
}
.taskk{
    font-size: 25px;
}
/* .Task-line{
    display: grid;
    justify-content: center;
} */
/* .trash-D{
    display: flex;
    justify-content: space-around;
} */
.btn-1{
    padding: 10px;
    border: none;
    align-items: center;
    font-size: 18px;
    color: white;
    border-radius: 4px;
    width:9rem;
    background:linear-gradient(45deg, black,orange);
}
.circle{
  font-size:80px;
  color: white;
}
.material-symbols-outlined {
  font-size: 34px;
  /* color: white; */
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  .list{
    display: block;
    justify-content: center;
  }
  .coding{
 /* justify-content: space-around;
display: flex; */
margin: 10px;

  /* margin-right: 20px;
  margin-left: 20px; */
  /* background-color: rgb(147, 143, 143); */
  /* background:linear-gradient(45deg, black,rgb(162, 110, 14)); */
 
  }
  .inputy{
    width:400px;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
  #close-tag{
    cursor: pointer;
  }
  .tee-ask{
    color: white;
  }
  ::placeholder{
    font-size: 20px;
  }
  .sub-mit{
    background-color: white;
    width:100px;
    border-radius: 4px;
  }
  .stat-us{
    width:400px;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
  .formss{
    background-color: rgb(14, 12, 12);
    width:430px;
    padding: 10px;
    height: 20vh;
    display: none;
    position: absolute;
    top: 15%;
    border-radius: 8px;
   left: 40%;
  }
  .close{
    display: flex;
    justify-content: space-between;
  }
  #task{
    display: flex;
    align-items:center;
    height: 12vh;
    margin-top: 20px;
  border-radius: 5px;
    margin: 40px;
  justify-content: space-between;
}
.code{
    margin-bottom: 6px;
}
  .trash-D{
    display: flex;
    gap: 10px;
  }
  .combine{
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .status{
    font-size: 16px;
    margin:10px ;
    padding: 4px;
    width:9rem;
    color: white;
    text-align: center;
    border-radius: 8px;
    background-color: orange;
  }
  #Editform{
    display: none;
  }
  /* .list-1{
    display: grid;
  } */
  /* .code-2{
   float: right;
   margin-left: 38rem;
  } */

  @media screen and (max-width:480px) {
    .formss{
      /* background-color: rgb(14, 12, 12);
      width:20%;
      padding: 10px;
      height: 20vh;
      display: none;
      position: absolute;
      top: 15%; */
      width: 300px;
      border-radius: 8px;
     left: 20%;
    }
    .inputy{
      width:280px;
      padding: 5px;
      border: none;
      border-radius: 4px;
    }
   
    .sub-mit{
      background-color: white;
      width:100px;
      border-radius: 4px;
    }
    .stat-us{
      width:280px;
      padding: 5px;
      border: none;
      border-radius: 4px;
    }
    }